:root {
    --default: url("../images/cursor_default.png"), auto;
    --pointer: url("../images/cursor_pointer.png"), auto;

    --font-color: #e8ddc8;
    --font-family: 'Verdana';

    --light-color: #ae9662;
    --light-color-2: #978255;

    --dark-color: #6b3715;
    --dark-color-2: #3b1e0d;
}

@font-face {
    font-family: "Pixel-Font";
    src: url("../pixel-font.ttf");
}

body {
    background-color: black;
    background-image: url("../images/background.png");
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    text-align: center;
}
html {
    cursor: var(--default);
}
canvas {
    background-color: #121212;
    box-shadow: 45px 45px 80px black;
    margin-top: 80px;
}

.menu-div {
    width: 50%;
    float: left;
}
.menu-div canvas {
    display: block;
}

.menu-div:nth-child(1) > *{
    margin-right: 60px;
    margin-left: auto;
}
.menu-div:nth-child(2) > *{
    margin-left: 60px;
    margin-right: auto;
}

#menu-content button {
    width: 100%;
    margin-bottom: 8px;
}
#buttons-div {
    width: 450px;
    margin-right: 140px;
}
#join-div {
    width: 500px;
    display: none;

    background: linear-gradient(to right bottom, var(--dark-color), #47240f);
    text-align: center;
    
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 105px;

    border-left: solid var(--dark-color-2) 25px;
    border-top: solid var(--dark-color-2) 25px;

    box-shadow: 20px 20px var(--light-color);
}
#join-div p#desc {
    width: max-content;
    margin: auto;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

    margin-top: -40px;
    margin-bottom: 20px;

    color: white;
    font: bold 40px 'Verdana';

    background-color: var(--light-color-2);

    border-left: solid var(--light-color) 10px;
    border-top: solid var(--light-color) 10px;
}

input#code-input {
    width: 80%;
    margin-bottom: 30px;
}
button#join-button {
    width: 210px;
    font-size: 35px;
    border-width: 10px;
    padding: 4px;
    margin-bottom: 20px;

    margin-left: auto;
    margin-right: auto;
}
button#join-button:hover {
    box-shadow: 12px 12px 1px var(--light-color);
}

#user-icon {
    position: fixed;
    top: 0px;
    right: 0px;

    margin: 20px;
    width: 80px;

    background-color: var(--dark-color);
    border-radius: 50%;
    border: solid  var(--dark-color-2) 4px;
    transition: 0.1s;
}
#user-icon:hover {
    cursor: var(--pointer);
    width: 90px;
    transition: 0.1s;
}